{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnostore</title>
    <link rel="stylesheet" href="{% static 'pagina/css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>
</head>
<body>
    <header>
        <h1>TECNOSTORE</h1>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <h2>¿En qué consiste?</h2>
                <h3>
                    Tecnostore es una aplicación móvil que tiene como principal función la venta de productos tecnológicos. 
                    Para lograr todo lo que esto conlleva, hemos implementado un sistema que permitirá: visualizar, agregar y modificar productos según lo estime el administrador, 
                    mientras que el cliente podrá únicamente visualizar y comprar los artículos.
                </h3>
            </div>
        </div>

        <!-- Contenedor para el enlace de descarga en móviles -->
        <div id="mobile-download" style="display: none;">
            <p>Haz clic en el siguiente enlace para descargar apk:</p>
            <a href="https://github.com/Frvncoo69/app_final/releases/download/1.0/tecnostore.apk" target="_blank">Visitar Tecnostore</a>
        </div>

        <!-- Contenedor para el QR en PC -->
        <div id="pc-download" style="display: none;">
            <p>Escanea el QR para descargar apk:</p>
            <div id="qr-code" style="width: 200px; height: 200px;"></div>
        </div>

        <div class="contact-us">
            <h3>Contáctanos</h3>
            <ul>
                <li><strong>Email:</strong> contacto@tecnostore.com</li>
                <li><strong>Teléfono:</strong> +56 9 1234 5678</li>
                <li><strong>Dirección:</strong> Av. Tech 123, Santiago, Chile</li>
            </ul>
        </div>
    </main>

    <footer>
        <img src="{% static 'pagina/images/logo.jpeg' %}" alt="Logo Tecnostore">
        <p>&copy; 2024 Tecnostore. Todos los derechos reservados.</p>
    </footer>

    <script src="{% static 'pagina/js/java.js' %}"></script>
</body>
</html>
